.profileCard_dash{
    background-color: blanchedalmond;
    border-radius: 5px;
    color: #000;
}

.profileCard_dash_img{
    text-align: center;
}

.profileCard_dash_img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: lightgray;
}

.profileCard_user_info{
    margin: .4rem 0;
    text-align: center;
}

.profileCard_user_info h4{
    color: #000;
}



.profileCard_user_infos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profileCard_user_age{
    text-align: center;
}

.profileCard_user_status{
    text-align: center;
}

.profileCard_user_age > div,
.profileCard_user_status > div {
    margin: .5rem 0;
}